
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-top: 100px;
  background-color: #070707;
  margin-left: 300px;
  background-image: url("neon.jpg");
  
  
}
/* .glow{
  border-radius: 10%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
} */
ol, ul {
  padding-left: 30px;
  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {

  
  background: #fff;
  border: 3px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  
}

.game-info {
  margin-left: 40px;
  font-size: 35px;
  color: white;
  max-width: 200px;
  
}

.squareStart {
  border-radius: 10%;
  box-shadow:
    inset 0 0 50px rgb(53, 244, 5),
    inset 20px 0 80px rgb(43, 105, 7),
    inset -20px 0 80px rgb(85, 194, 18),
    inset 20px 0 300px rgb(34, 95, 4),
    inset -20px 0 300px rgb(36, 118, 3),
    0 0 10px rgb(22, 230, 3),
    -10px 0 20px rgb(6, 108, 3),
    10px 0 20px rgb(60, 255, 0);

  background: green;
  border: 3px solid rgb(4, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.squareEnd {
  border-radius: 10%;
  box-shadow:
    inset 0 0 50px rgb(244, 5, 5),
    inset 20px 0 80px rgb(255, 0, 0),
    inset -20px 0 80px rgb(126, 2, 2),
    inset 20px 0 300px rgb(108, 2, 2),
    inset -20px 0 300px rgb(243, 0, 0),
    0 0 10px rgb(230, 3, 3),
    -10px 0 20px rgb(62, 2, 2),
    10px 0 20px rgb(92, 2, 2);

  background: red;
  border: 3px solid rgb(14, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.squareBlock {

  border-radius: 10%;
  box-shadow:
    inset 0 0 50px rgb(13, 9, 0),
    inset 20px 0 80px rgb(65, 64, 64),
    inset -20px 0 80px rgb(5, 5, 5),
    inset 20px 0 300px rgb(54, 54, 53),
    inset -20px 0 300px rgb(2, 2, 2),
    0 0 10px rgb(62, 61, 61),
    -10px 0 40px rgb(2, 2, 2),
    10px 0 40px rgb(48, 47, 47);

  background: rgb(9, 0, 0);
  border: 3px solid rgb(254, 253, 253);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}
 
.squareVisited {
  background: rgb(2, 52, 126);
  border: 3px solid rgb(6, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}
.squarePath {

  border-radius: 10%;
  box-shadow:
    inset 0 0 40px rgb(251, 251, 251),
    inset 20px 0 70px rgb(255, 166, 0),
    inset -20px 0 70px rgb(255, 191, 0),
    inset 20px 0 290px rgb(255, 187, 0),
    inset -20px 0 290px rgb(243, 190, 0),
    0 0 10px rgb(249, 147, 3),
    -10px 0 20px rgb(202, 138, 1),
    10px 0 20px rgb(255, 191, 0);
  
  border: 3px solid rgb(6, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}


.explanation{
  margin-bottom: 20px;
  max-width: 1000px;
  font-size: 24px;
  color: rgb(248, 248, 247);
  margin-top: 20px;
  font-style:oblique;
  line-height: 32px;
}

.glow{
  font-size: 80px;
  color: #fff;
  text-align: start;
  margin-bottom: 20px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
 
}


.BFSButton {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
  margin-top: 20px;
}

.BFSButton::after,
.BFSButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.BFSButton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0242a8;
  border-radius: 10px;
}

.BFSButton::after {
  
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.BFSButton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.BFSButton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.BFSButton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.explanationGreen{
  text-decoration: underline;
  
  font-size: 24px;
  color: rgb(18, 248, 6);
  margin-top: 10px;
  font-style:oblique;
}
.explanationRed{
  text-decoration: underline;
  
  font-size: 24px;
  color: rgb(248, 6, 6);
  margin-top: 10px;
  font-style:oblique;
}
.explanationBlue{
  text-decoration: underline;
  
  font-size: 24px;
  color: rgb(2, 52, 126);
  margin-top: 10px;
  font-style:oblique;
}
.explanationGray{
  text-decoration: underline;
  
  font-size: 24px;
  color: rgb(61, 61, 61);
  margin-top: 10px;
  font-style:oblique;
}
.explanationOrange{
  text-decoration: underline;
  
  font-size: 24px;
  color: rgb(244, 188, 45);
  margin-top: 10px;
  font-style:oblique;
}

.DAButton {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
  margin-top: 20px;
}

.DAButton::after,
.DAButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.DAButton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #feae0f;
  border-radius: 10px;
}

.DAButton::after {
  
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.DAButton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.DAButton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.DAButton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.RButton {
  all: unset;
  width: 200px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
  margin-top: 20px;
}

.RButton::after,
.RButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.RButton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #00860e;
  border-radius: 10px;
}

.RButton::after {
  
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.RButton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.RButton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.RButton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}